*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar */
.nav-wrap{
    width: 100%;
    height: auto;
}
.logo{
    width: 45px;
    height: auto;
}
.nav-link{
    font-weight: 600;
}
.navbar-brand{
    margin-left: 2rem;
}
.bar{
    height: 4rem;
}
.wrap{
    width: 100%;
    height: auto;
}
.btn-wrap{
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
}
.rt{
    background-color: #b5bb8c !important;
}
.ven{
    background-color: #575586cc !important;
}
.sl-1{
    height: 90.8vh;
    background-color: #FA7942;
}
.sl-1 .row{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sl-1 .row .col-md-6{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sl-1 .row .col-md-6 h2{
    width: 60%;
    margin: auto;
}
.nat{
    justify-content: flex-end !important;
}
/* Procedure */
.procedure-container, .platforms-wrap{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.procedure-container .row, .platforms-wrap .row{
    margin: 0;
}
.procedure-img, .platforms-img{
    width: 200%;
    height: auto;
    position: relative;
    right: 14rem;
}
/* .procedure-container .row .col-md-4 img{
    width: ;
}  */

.procedure-container .row .col-md-8{
    padding-top: 8rem;

}
/* .procedure-container .row .col-md-8 h1{

} */
.procedure-card-wrap{
    display: flex;
    justify-content: space-between;
}
.one{
    background-color: #FFC665;
}
.two{
    background-color:#519BF4;
}
.three{
    background-color: #FFCDD3;
}
.procedure-head{
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}
.procedure-head span{
    color: #F85641;
}
.procedure-card{
    width: 30%;
    min-height: 15rem;
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.procedure-card p{
    text-align: center;
}
.icon{
    width: 4rem;
    position: relative;
    bottom: 13rem;
    left: 5rem;
}
/* Platforms-wrap */
.platforms-wrap{
    background-color: #171312;
    height: 87vh;
    overflow: hidden;
}
.platforms-img{
    bottom: 18rem;
    right: 17rem;
}
.platforms-txt{
    color: #fff;
    padding-left: 6rem;
    padding-top: 5rem;
}
.platforms-txt h1{
    font-size: 5rem;
}
.badge-wrap{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.badge-img-wrap{
    width: 30%;
}
.badge-img{
    width: 60%;
}
.cta p{
    display: inline-block;
    margin-right: 10rem;
    margin-bottom: 0;
    font-size: 1.5rem;
}
.cta{
    border-bottom: 1px solid #fff;
    width: fit-content;
    position: relative;
    left: 8rem;
}
.cta span a {
    color: #fff;
    text-decoration: none !important;
    font-size: 13px;
}
/* footer */
.foot-wrap{
    width: 100%;
    height: 60vh;
    background: url(../img/12.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}