* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}
/* Navbar */
.nav-wrap {
  width: 100%;
  height: auto;
}
.logo {
  width: 45px;
  height: auto;
}
.nav-link {
  font-weight: 600;
}
/* .navbar-brand {
  margin-left: 2rem;
} */
.bar {
  height: 4rem;
}
.wrap {
  width: 100%;
  height: auto;
}
.btn-wrap {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
}
.rt {
  background-color: #b5bb8c !important;
}
.ven {
  background-color: #575586cc !important;
}
.sl-1 {
  height: 90.8vh;
  background-color: #fa7942;
}
.sl-1 .row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sl-1 .row .col-md-6 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sl-1 .row .col-md-6 h2 {
  width: 60%;
  margin: auto;
}
.nat {
  justify-content: flex-end !important;
}
/* Procedure */
.procedure-container,
.platforms-wrap {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.procedure-container .row {
  min-height: 80vh;
  align-items: center;
}
.procedure-container .row,
.platforms-wrap .row {
  margin: 0;
}
.procedure-img,
.platforms-img {
  width: 200%;
  height: auto;
  position: relative;
  right: 14rem;
}
/* .procedure-container .row .col-md-4 img{
    width: ;
}  */

.procedure-container .row .col-md-8 {
  padding-top: 1.5rem;
}
.procedure-card-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.one {
  background-color: #ffc665;
}
.two {
  background-color: #519bf4;
}
.three {
  background-color: #ffcdd3;
}
.procedure-head {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
.procedure-head span {
  color: #f85641;
}
.procedure-card {
  max-width: 250px;
  width: 100%;
  height: 13rem;
  position: relative;
  /* padding: 2rem 2rem 0; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  padding: 10px 20px;
}

.procedure-card p {
  text-align: center;
}
.icon {
  width: 4rem;
  position: absolute;
  top: -22px;
  right: 15px;
}
/* Platforms-wrap */
.platforms-wrap {
  background-color: #171312;
  height: 87vh;
  overflow: hidden;
}
.platforms-img {
  bottom: 18rem;
  right: 17rem;
}
.platforms-txt {
  color: #fff;
  padding-left: 6rem;
  padding-top: 5rem;
}
.platforms-txt h1 {
  font-size: 5rem;
}
.badge-wrap {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.badge-img-wrap {
  width: 30%;
}
.badge-img {
  width: 60%;
}
.cta p {
  display: inline-block;
  margin-right: 10rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}
.cta {
  border-bottom: 1px solid #fff;
  width: fit-content;
  position: relative;
  left: 8rem;
}
.cta span a {
  color: #fff;
  text-decoration: none !important;
  font-size: 13px;
}
/* footer */
.foot-wrap {
  width: 100%;
  height: auto;
  background: url(../img/12.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-b {
  width: 20%;
  margin-top: 1.5rem;
}
.features h4 {
  font-weight: 600;
  color: #efc0c8;
  background: black;
  width: 45%;
  text-align: center;
  border-radius: 1rem;
  padding: 0.1rem 0;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.footer-links {
  margin-top: 2rem;
}
.lnks a,
.media-links a {
  color: #000;
  text-decoration: none;
}
.lnks a {
  font-weight: bolder;
}
.lnks {
  margin-bottom: 0.2rem;
}
.tab {
  margin-top: 3rem;
}
.copyright {
  text-align: center;
  font-weight: 800;
}
.media-links {
  font-size: 2rem;
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.social-media h4 {
  font-weight: 600;
}

/* Jossy Jones */
.vanguard{
  background-color: #efc0c8;
  padding: 5rem 0 0;
  min-height: 80vh;
}

.vanguard > .container{
  padding: 20px 10px;
  font-size: 20px;
  position: relative;
  /* transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%); */
}

.vanguard .text{
  position: absolute;
  top: 0;
  opacity: 0;
  transition: .6s ease;
  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  -ms-transition: .6s ease;
  -o-transition: .6s ease;
}

.vanguard .text[data-show='true']{
  opacity: 1;
}

.vanguard .text h2{
  font-size: 7vmin;
  font-weight: bold;
}

/* Slide show */
.swiper-container{
  /* overflow: hidden; */
  height: 100%;
}
.card-swipe{
  width: 100%;
  height: 450px;
}
.card-swipe img{
  width: 100%;
  height: auto;
  object-fit: cover;
  pointer-events: none;
}

@media (max-width: 992px) {
  .navbar-collapse {
      position: fixed;
      top: 50px;
      left: 0;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      width: 75%;
      height: 100%;
  }

  .navbar-collapse.collapsing {
      left: 100%;
      transition: height 0s ease;
  }

  .navbar-collapse.show {
      left: 5%;
      transition: left 300ms ease-in-out;
  }

  .navbar-toggler.collapsed~.navbar-collapse {
      transition: left 500ms ease-in-out;
  }
}
