*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar */
.nav-wrap{
    width: 100%;
    height: auto;
}
.logo{
    width: 45px;
    height: auto;
}
.nav-link{
    font-weight: 600;
}
.navbar-brand{
    margin-left: 2rem;
}
.bar{
    height: 4rem;
}
.wrap{
    width: 100%;
    height: auto;
}
.btn-wrap{
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
}
.rt{
    background-color: #b5bb8c !important;
}
.ven{
    background-color: #575586cc !important;
}
.sl-1{
    height: 90.8vh;
    background-color: #FA7942;
}
.sl-1 .row{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sl-1 .row .col-md-6{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sl-1 .row .col-md-6 h2{
    width: 60%;
    margin: auto;
}
.nat{
    justify-content: flex-end !important;
}
/* Procedure */
.procedure-container{
    width: 100%;
    height: auto;
}
.procedure-container .row{
    margin: 0;
}
.procedure-img{
    width: 200%;
    height: auto;
    position: relative;
    right: 14rem;
}
/* .procedure-container .row .col-md-4 img{
    width: ;
}  */